body {
	font-size: 9pt;
	color: #003666;
	font-weight: bold;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	
  /* Firefox 3.6 */   
  background-image: -moz-linear-gradient(left center, #8dbcf8, #e8f0fc);    
  
  /* Safari & Chrome */   
  background-image: -webkit-gradient(linear,left top,right bottom,color-stop(0, #8dbcf8),color-stop(1, #e8f0fc));    
  
  /* IE6 & IE7 */   
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#8dbcf8,endColorStr=#e8f0fc);

   /* IE8 */   
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#8dbcf8', endColorstr='#e8f0fc')"	
}

a {
	TEXT-DECORATION:none;
	color: #003666;
	CURSOR: hand;
}

td, th {
	font-size: 9pt;
  line-height: 120%; 
}

#modernbricksmenu2{
	padding: 0;
	width: 100%;
	border-top: 5px solid #D25A0B; /*Brown color theme*/ 
	background: transparent;
	voice-family: "\"}\"";
	voice-family: inherit;
}

#modernbricksmenu2 ul{
	margin:0;
	margin-left: 40px; /*margin between first menu item and left browser edge*/
	padding: 0;
	list-style: none;
}

#modernbricksmenu2 li{
	display: inline;
	margin: 0 2px 0 0;
	padding: 0;
	text-transform:uppercase;
}

#modernbricksmenu2 a{
float: left;
display: block;
font: bold 12px;
color: white;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px;
background-color: black; /*Brown color theme*/ 
border-top: 1px solid white;
}

#modernbricksmenu2 a:hover{
background-color: #D25A0B; /*Brown color theme*/ 
color: white;
}

#modernbricksmenu2 #current a{ /*currently selected tab*/
background-color: #D25A0B; /*Brown color theme*/ 
color: white;
border-color: #D25A0B; /*Brown color theme*/ 
}

#myform{ /*CSS for sample search box. Remove if desired */
float: right;
margin: 0;
margin-top: 3px;
padding: 0;
padding-right:20px;
}

#myform .textinput{
width: 190px;
border: 1px solid gray;
}

#myform .submit{
font: normal 12px Verdana;
height: 22px;
border: 1px solid black;
background-color: lightyellow;
}
